<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>循环结构_</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <div>水果列表</div>
    <ul>
        <li v-for="item in fruits">{{item}}</li>

        <li v-for="(item, index) in fruits">{{item + '-' + index}}</li>

        <!-- 加入key 提高性能 -->
        <li :key="index" v-for="(item, index) in myFruits">
            <span>{{item.cname}}</span>
            <span>----------------</span>
            <span>{{item.ename}}</span>
        </li>

        <!-- 加入key 提高性能 -->
        <li :key="item.id" v-for="item in myFruits">
            <span>{{item.cname}}</span>
            <span>----------------</span>
            <span>{{item.ename}}</span>
        </li>
    </ul>
    <!-- 遍历对象-->
    <div v-for="(v,k,i) in obj">
        {{v + ' --- ' + k + ' --- '+i}}
    </div>


    <!-- 遍历对象-->
    <div v-if="v==30" v-for="(v,k,i) in obj2">
        {{v + ' --- ' + k + ' --- '+i}}
    </div>


    <!-- 遍历对象-->
    <div v-if="v==30" v-for="(v,k,i) in obj3">
        {{v

    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                fruits: ['apple', 'blanana', 'peach'],

                myFruits: [{
                    id: 1,
                    ename: 'apple',
                    cname: '🍎'
                },
                    {
                        id: 2,
                        ename: 'orange',
                        cname: '🍊'
                    },
                    {
                        id: 3,
                        ename: 'banana',
                        cname: '🍌'
                    }
                ],

                obj: {
                    name: 'yy',
                    age: 100,
                    gender: 'male'
                },

                obj2: {
                    name: 'yy2',
                    age: 30,
                    gender: 'female'
                }
                ,

                obj3: {
                    name: 'yy3',
                    age: 10,
                    gender: 'female'
                }

            },
            methods: {}
        })
    </script>
</body>
</html>